#map {
    width:70%;
    height:100%;
    border: solid;
    border-color: black;
}
#chat {
    width:30%;
    height:100%;
    float: right;
    border-color: blue;
}
#form {
    width:30%;
    height:100%;
    float: right;
    border-color: yellow;
}